body {
  background-color: #ddd;
}

div#post-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

div.post {
    background-color: rgba(255, 255, 255, 0.1);
  margin: 15px;
  border: 1px solid #777;
  box-shadow: 1px 2px 4px #999;
  border-radius: 8px;
  padding: 12px;
}

div.author {
  font-size: 1.2rem;
  font-weight: bold;
}
